.graph {
  padding: 30px 40px;
  & svg {
    margin: 0 auto;
    display: block;
    & > * {
      color: var(--on-background);
    }
  }

  &__title {
    text-align: center;
    font-family: var(--font-secondary);
    color: var(--primary);
    margin-bottom: 0;
  }

  &__bar {
    fill: var(--primary);
  }
}
